body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}
div {
  max-width: 400px;
  background: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
input, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
}
button {
  background: #6200ee;
  color: white;
  border: none;
}
li {
  display: flex;
  justify-content: space-between;
}
